
*{
    box-sizing: border-box;
}
body{
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    /* flex-direction: column; */
    justify-content: center;
}

.flame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg{
    background: #348cb2 url("bg.jpg") bottom left;
    background-repeat: repeat-x;
    height: 100%;
    position: fixed;
    transform: translate3d(0,0,0);
    animation: bgmove 60s linear infinite;
    width: 6750px;
    left: 0;
    top: 0;
    display: flex;
}
@keyframes bgmove{
    from{transform: translate3d(0,0,0);}
    to{transform: translate3d(-1500px,0,0);}
}

.whiteframe{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0;
    animation: wf 1s linear;
}
@keyframes wf{
    from{opacity: 1;}
    to{opacity: 0;}
}

/*切割线*/
.bgline{
    opacity: 0;
    background-attachment: fixed, fixed;
    background-image: url("overlay-pattern.png"), url("overlay.svg");
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    animation: Bgline 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
@keyframes Bgline{
    from{opacity: 0;}
    to{opacity: 1;}
}


/* 文字块 */
.textcontain{
    width: 90%;
    height: 30%;
    position: absolute;
    /* background-color: white; */
    overflow: hidden;
    text-align: center;
    top: 150px;
    margin:0 5% ;
}
.textcontain h1{
    font-size: 5.5em;
    color: white;
    margin: 0;
    opacity: 0;
    animation: up 1s forwards ease-in-out;
    animation-delay: 3.25s;
}
h1~p{
    font-size: 20px;
    letter-spacing: 1.2px;
    color:rgba(255, 255, 255, 0.623);
    opacity: 0;
    animation: up 1s forwards ease-in-out;
    animation-delay: 3.25s;
}
@keyframes up{
    from{opacity: 0; transform: translate(0,0);}
    to{opacity: 1; transform: translate(0,-15px);}
}

/*提示工具*/
/*容器*/
.big{
    position: relative;
}
/*提示*/

.big+span{
    position: absolute;
    font-size: 14px;
    width: 210px;
    border-radius: 10px;
    background-color: rgba(167, 167, 167, 0.55);
    color: rgba(255, 255, 255, 0.747);
    padding:4 5px;
    transition: all 1s;
    top: -180%;
    left:25%;
    z-index: 1;
    transform: translate(0,6px);
    opacity: 0;
}
.big+span::after{
    content: '';
    position: absolute;
    top: 100%;
    right: 7;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(167, 167, 167, 0.55) transparent transparent transparent ;
}
.big:hover{
    cursor: pointer;
}
.big:hover+span{
    opacity: 1;
    transform: translate(0,0px);
}


.demo {
    position: absolute;
    z-index: 12;
    top: 50%;
    opacity: 0;
    transform: translate(0, 0, 15px);
    animation: up2 1s forwards;
    animation-delay: 4.25s;
}
@keyframes up2{
    from{opacity: 0; transform: translate(0,15px);}
    to{opacity: 1; transform: translate(0,0px);}
}

.navbar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 25%;
    font-size: 1.75em;
    font-weight: bold;
    color: gray;
    transition: 0.24s 0.2s;
    box-shadow: 0 0 5px rgb(83, 83, 83, 0.8);
}
.navbar:hover {
    background: rgba(255, 255, 255, 0.75);
}
.navbar .menu {
    list-style: none;
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.navbar:hover .menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
    z-index: 1;
}
.navbar .menu li {
    position: absolute;
    margin-top: -140%;
    left: -75%;
    transform-origin: 65px 65px;
    transition: all 0.5s 0.1s;
    opacity: 0.8;
}
.navbar:hover .menu li {
    transition: all 0.6s;
}
.navbar .menu li a {
	transition:all 0.4s ease 0s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    color: #99b977;
    transition: 0.6s;
    text-decoration: none;
}
.navbar .menu li a:hover {
    background-color: white;
    color: #fff;
}
.navbar:hover .menu li:nth-child(1) {
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.navbar:hover .menu li:nth-child(1) a {
    transition-delay: 0.04s;
    transform: rotate(635deg);
}
.navbar:hover .menu li:nth-child(2) {
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.navbar:hover .menu li:nth-child(2) a {
    transition-delay: 0.08s;
    transform: rotate(595deg);
}
.navbar:hover .menu li:nth-child(3) {
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.navbar:hover .menu li:nth-child(3) a {
    transition-delay: 0.12s;
    transform: rotate(555deg);
}
.navbar:hover .menu li:nth-child(4) {
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.navbar:hover .menu li:nth-child(4) a {
    transition-delay: 0.16s;
    transform: rotate(515deg);
}
.navbar:hover .menu li:nth-child(5) {
    transition-delay: 0.1s;
    transform: rotate(245deg);
}
.navbar:hover .menu li:nth-child(5) a {
    transition-delay: 0.2s;
    transform: rotate(475deg);
}
.navbar:hover .menu li:nth-child(6) {
    transition-delay: 0.12s;
    transform: rotate(285deg);
}
.navbar:hover .menu li:nth-child(6) a {
    transition-delay: 0.24s;
    transform: rotate(435deg);
}
.navbar:hover .menu li:nth-child(7) {
    transition-delay: 0.14s;
    transform: rotate(325deg);
}
.navbar:hover .menu li:nth-child(7) a {
    transition-delay: 0.28s;
    transform: rotate(395deg);
}
.navbar:hover .menu li:nth-child(8) {
    transition-delay: 0.16s;
    transform: rotate(365deg);
}
.navbar:hover .menu li:nth-child(8) a {
    transition-delay: 0.32s;
    transform: rotate(355deg);
}
.navbar:hover .menu li:nth-child(9) {
    transition-delay: 0.18s;
    transform: rotate(405deg);
}
.navbar:hover .menu li:nth-child(9) a {
    transition-delay: 0.36s;
    transform: rotate(315deg);
}